@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Poppins", sans-serif; */
/* font-family: "Inter", sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 90rem;
    margin: 0 auto;
    scroll-behavior: smooth;
}

header {
    height: 669px;
    background: linear-gradient(0.00deg, rgb(18, 18, 18), rgba(18, 18, 18, 0) 100%), url(../images/donation0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    padding-top: 174px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-content h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 65px;
    font-weight: 700;
    line-height: 79px;
    text-align: center;
    padding-bottom: 24px;
}

.header-content p {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    padding-bottom: 30px;
}

button {
    border-radius: 5px;
    background: rgb(255, 89, 89);
    color: rgb(255, 255, 255);
    width: 160px;
    height: 56px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    border: none;
}

/* .donate-today {
    padding-top: 130px;
} */

.donate-today,
.donate-plan {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.donate-today h2,
.donate-plan h2 {
    color: rgb(18, 18, 18);
    font-family: Inter;
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
}

.donate-today p,
.donate-plan p {
    margin-top: 20px;
    color: rgb(112, 112, 112);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 22px;
}

.card {
    margin-top: 50px;
    border-radius: 5px;
    background: rgb(250, 250, 250);
    width: 135px;
    height: 123px;
}

.card p {
    padding: 43px 20px;
    color: rgb(112, 112, 112);
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}

.spacial {
    box-sizing: border-box;
    border: 2px solid rgb(255, 89, 89);
    border-radius: 5px;
    background: rgb(255, 238, 238);
}

#amount {
    opacity: 0.6;
    margin-bottom: 40px;
    margin-top: 60px;
}

.donate-plan {
    margin-top: 130px;
}

.donate-card {
    display: flex;
    gap: 24px;
}

.donate-card .card {
    width: 360px;
    height: 352px;
    border-radius: 5px;
    background: rgba(79, 157, 166, 0.1);
    padding: 63px 23px;
}

#card2 {
    background: rgba(255, 89, 89, 0.1);
}

#card3 {
    background: #fef4d6;
}

.donate-card h3 {
    color: rgb(18, 18, 18);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
}

.donate-card p {
    color: rgb(112, 112, 112);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

@media screen and (max-width: 480px) {
    .header-content {
        /* padding-top: 10rem; */
        padding-top: 5rem;
    }

    .header-content h1 {
        font-size: 40px;
        line-height: 60px;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .hide {
        display: none;
    }

    .donate-card {
        flex-direction: column;
    }
}